[user]
	email = kimiyuki@gmail.com
	name = kimiyuki shirai

[alias]
  s = status
  c = commit
  b = branch -a
  l = "!git --no-pager log --decorate --oneline"
  ls = log --decorate --oneline --stat
  ll  = ls-tree -r master
  files = !cd ${GIT_PREFIX:-.} && git ls-tree -z --name-only HEAD|\
    xargs -0 -n1 -I@ -- git log -1 \
    --pretty=format:'%C(green)%ai%Creset %C(yellow)%h%Creset @ %C(blue)(%ar)%Creset %C(red)<%an>%Creset' -- @
  g = log --graph --date=format:'%m/%d %H:%M' --decorate=short \
          --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cN %Cred%d %Creset%s'

[push]
  default = simple


[crednetial "https://source.developers.google.com"]
  helper = gcloud.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	editor = vim -c \"set fenc=utf-8\"
